<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
       
    </main>
<%- include('./includes/end.ejs') %>


<!-- https://kauth.kakao.com/oauth/authorize?client_id=329ca7e85edc188c36d2f6d8458ad2a0&redirect_uri=http://localhost:4000/oauth/redirect&response_type=code -->
